header {
    section {
        width: 1300px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3, min-content);
        column-gap: 30px;
        padding-top: 30px;
        padding-bottom: 70px;
        h1 {
            grid-column: 1;
            grid-row: 1;
            font-size: 5em;
            margin: 0;
            padding: 18px 0;
        }
        p {
            grid-column: 1;
            grid-row: 2;
            margin: 0;
            font-size: 1.75em;
            line-height: 1.5em;
            padding: 18px 0;
        }
        div {
            grid-column: 2;
            grid-row: 1 / -1;
            width: 600px;
        }
    }
}

main {
    width: 100%;
    display: grid;
    justify-items: center;
    section {
        width: 1300px;
        display: grid;
        justify-items: center;
        h1 {
            font-size: 4em;
        }
        .tool-use {
            width: 900px;
            display: grid;
            grid-template-columns: 1fr 16.6% 16.6% 1fr;
            grid-template-rows: 1fr 1fr;
            .user-type {
                align-self: flex-start;
                justify-self: center;
                display: grid;
                align-items: center;
                justify-items: center;
                width: 200px;
                text-align: center;
                h2 {
                    font-size: 1.6em;
                }
            }
        }
    }
}