html {
    padding: 0;
    margin: 0;
    scrollbar-width: none;
}

body {
    padding: 0;
    margin: 0;
}

.rund-400 {
  font-family: vag-rundschrift-d, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.frank-400 {
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.text-red {
  color: #cb2c3b;
}

header {
  padding: 30px 50px 0px 50px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  .header-left {
    grid-column: 1;
    grid-row: 1;
    justify-self: flex-start;
    align-self: center;
    svg {
      stroke: #000;
      transition: .2s ease;
      cursor: pointer;
    }
    svg:hover {
      stroke: #cb2c3b;
    }
  }
  .header-logo {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    font-size: 2em;
    h2 {
      margin: 0;
    }
    .frank-400 {
      /* font-size: 1.8em; */
      margin-top: 3px;
    }
    div {
      background-color: #d2dbe7;
      width: 5px;
      height: 50px;
      border-radius: 10px;
    }
  }
  .header-right {
    grid-column: 3;
    grid-row: 1;
    justify-self: flex-end;
    align-self: center;
    display: grid;
    grid-template-columns: 2;
    gap: 14px;
    div {
      align-self: center;
      grid-column: 1;
      margin: 0;
      display: flex;
      gap: 6px;
      h4 {
        margin: 0;
        font-size: 1.3em;
      }
    }
    button {
      align-self: center;
      grid-column: 2;
      font-size: 1.3em;
      background-color: transparent;
      border: 2px solid #cb2c3b;
      margin: 0;
      padding: 8px 20px;
      border-radius: 8px;
      transition: .2s ease;
      cursor: pointer;
    }
    button:hover {
      background-color: #cb2c3b;
      color: white;
    }
  }
}

main {
  display: grid;
  justify-items: center;
  section {
    width: 1000px;
    display: grid;
    justify-items: center;
    h1 {
      font-size: 3.65em;
      margin: 0;
      padding-bottom: 10px;
    }
    .section-header {
      width: 100%;
      display: grid;
      grid-template-rows: 1fr 1fr;
      div {
        height: 5px;
        width: 100%;
        background-color: #d2dbe7;
        display: grid;
        justify-items: flex-start;
        div {
          height: 5px;
          width: 25%;
          background-color: #cb2c3b;
        }
      }
      h5 {
        grid-row: 2;
        margin: 0;
        margin-left: 50px;
        font-size: 1.2em;
      }
    }
    .accordion {
      width: 900px;
      color: black;
      background-color: white;
      hr {
        border: 1px solid #d2dbe7;
      }
      .question-cont {
        position: relative;
        margin: 10px 10px;
        .toggle-icon {
          transition: transform 0.4s ease;
        }
      }
      .question-cont.active {
        .toggle-icon {
          transform: rotate(180deg);
        }
      }
      .question-title {
        position: relative;
        display: grid;
        grid-template-columns: 1fr min-content;
        padding: 20px 0;
        font-size: 24px;
        color: black;
        cursor: pointer;
        p {
          grid-column: 1;
          margin: 0;
        }
        svg {
          grid-column: 2;
          justify-self: flex-end;
          align-self: center;
          padding: 0;
        }
        .question-title::before {
          color: black;
          position: absolute;
          top: 50%;
          right: -5px;
          font-size: 30px;
          transform: translateY(-50%);
        }
      }
      .question-content {
        position: relative;
        max-height: 0;
        font-size: 20px;
        text-align: justify;
        width: 780px;
        overflow: hidden;
        transition: max-height 0.5s ease;
      }
    }
  }
}

footer {
  background-color: #d2dbe7;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .back-btn {
    align-self: center;
    justify-self: flex-start;
    button {
      display: flex;
      justify-items: center;
      p {

      }
    }

  }
  .next-btn {
    align-self: center;
    justify-self: flex-end;
  }
}