html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

/* FONTS */

.rund-400 {

}

.frank-400 {

}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

h1 {
  text-align: center;
  margin: 40px 0;
}


.accordion {
  width: 900px;
  margin: 90px auto;
  color: black;
  background-color: white;
  padding: 45px 45px;
}

.accordion .question-cont {
  position: relative;
  margin: 10px 10px;
}

.accordion .question-title {
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content;
  padding: 20px 0;
  font-size: 24px;
  color: black;
  cursor: pointer;
  p {
    grid-column: 1;
    margin: 0;
  }
  svg {
    grid-column: 2;
    justify-self: flex-end;
    align-self: center;
    padding: 0;
  }
}

.accordion .question-title::before {
  content: url(../images/arrow-down.svg);
  color: black;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}

.accordion .question-content {
  position: relative;
  background: white;
  height: 0;
  font-size: 20px;
  text-align: justify;
  width: 780px;
  overflow: hidden;
  transition: 0.5s;
}

.accordion hr {
  width: 100;
  margin-left: 0;
  border: 1px solid grey;
}

.accordion .question-cont.active .question-content {
  height: 150px;
}

.accordion .question-cont.active .question-title::before {
  content: '-';
  font-size: 30px;
}
