
.question-prog-bar {
  grid-row: 2;
  height: 5px;
  width: 100%;
  background-color: #fff;
  display: grid;
  justify-items: flex-start;
  border-radius:5px;
  div {
    height: 5px;
    width: 25%;
    background-color:  #115dab;
    border-radius:5px;
  }
}
.under-prog-bar {
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  h5 {
    justify-self: start;
    margin: 0;
    font-size: 1.2em;
  }
}
  .expand-btn {
    justify-self: end;
    button {
      background-color: transparent;
      border:  #115dab 2px solid;
      color:  #115dab;
      font-size: 1.2em;
      padding: 4px 16px;
      border-radius: 6px;
      cursor: pointer;
      transition: .2s ease all;
      margin-left:10px;
    }
    button:hover {
      background-color:  #115dab;
      color: white;
    }
  }

  button.blue-white{
    background-color: #115dab;
    border: none;
    color: white;
    font-size: 1.5em;
    padding: 7px 20px;
    border-radius: 8px;
    margin: 10px 0;
    cursor: pointer;
    transition: all .2s ease;
}

button.blue-white:hover{
  background-color: #fff;
  color: #115dab;
}


header {
  .sect-bar-cont {
    grid-column: -1 / 1;
    grid-row: 2;
    display: flex;
    width: 100%;
    align-items: center;
    .bar-gray {
      grid-row: 2;
      height: 5px;
      width: 100%;
      border-radius: 10px;
      background-color: #d2dbe7;
    }
    .bar-green {
      grid-row: 2;
      height: 5px;
      width: 100%;
      border-radius: 10px;
      background-color: #22c773;
    }

    .section-icon-cont {
      padding: 0px 10px;
      display: flex;
      flex-direction: column;
      align-content: center;
      .section-label {
        z-index: -2;
        position: absolute;
        align-self: center;
        padding-top: 30px;
      }
    }
    .section-complete {
      border-radius: 50px;
      height: 30px;
      width: 30px;
      background-color: #22c773;
      border: 3px solid #22c773;
      display: flex;
      justify-content: center;
      align-content: center;
      transition: all .2s ease;
      cursor: pointer;
    }
    .section-complete:hover {
      border: #000 3px solid;
    }
    .section-current {
      border-radius: 50px;
      height: 30px;
      width: 30px;
      background-color: transparent;
      border: 3px solid  #115dab;
      display: grid;
      align-items: center;
      justify-items: center;
      transition: all .2s ease;
      cursor: pointer;
      .section-open-center {
        height: 18px;
        width: 18px;
        background-color:  #115dab;
        border-radius: 30px;
      }
    }
    .section-current:hover {
      border: #000 3px solid;
    }
    .section-open {
      border-radius: 50px;
      height: 30px;
      width: 30px;
      background-color: transparent;
      border: 3px solid  #115dab;
      transition: all .2s ease;
      cursor: pointer;
    }
    .section-open:hover {
      border: #000 3px solid;
    }
    /* .section-subtitle {
      position: absolute;
      font-size: 1em;
      text-align: center;
    } */
  }
}

main {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  justify-items: center;
  width: 100%;
  section {
    width: 100%;
    display: grid;
    grid-template-rows: min-content min-content;
    justify-items: center;
    .section-header {
      z-index: 1;
      width: 100%;
      display: grid;
      grid-template-rows: 1fr min-content min-content;
      gap: 20px;
      position: fixed;
      padding-bottom: 30px;
      height: 150px;
      background: rgb(255,255,255);
      background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 100%);
      h1 {
        justify-self: center;
        grid-row: 1;
        font-size: 3.65em;
        margin: 0;
      }
    }
    .accordion {
      z-index: -1;
      width: 100%;
      color: black;
      background-color: white;
      padding-bottom: 165px;
      hr {
        border: 1px solid #d2dbe7;
      }
      .question-cont {
        position: relative;
        margin: 10px 10px;
        .toggle-icon {
          transition: transform 0.4s ease;
        }
      }
      .question-cont.active {
        .toggle-icon {
          transform: rotate(180deg);
        }
      }
      .question-title {
        position: relative;
        display: grid;
        grid-template-columns: 1fr min-content;
        padding: 20px 0;
        font-size: 1.5em;
        color: black;
        cursor: pointer;
        p {
          grid-column: 1;
          margin: 0;
        }
        .arrow-toggle {
          grid-column: 2;
          justify-self: flex-end;
          align-self: center;
          padding: 0;
        }
        .check-toggle {
          fill: #22c773;
          grid-column: 2;
          position: absolute;
          justify-self: flex-end;
          align-self: center;
          right: -60px;
        }
        .show-check {
          display: block;
        }
        .hide-check {
          display: none;
        }
        .question-title::before {
          color: black;
          position: absolute;
          top: 50%;
          right: -5px;
          font-size: 1em;
          transform: translateY(-50%);
        }
      }
      .question-content {
        position: relative;
        max-height: 0;
        font-size: 1.5em;
        text-align: justify;
        overflow: hidden;
        display: grid;
        justify-items: center;
        gap: 20px;
        transition: max-height 0.5s ease;
        .question-desc {
          font-size: 0.7em;
          margin: 0;
        }
        .question-num {
          padding-right: 15px;
        }
        .question-option {
          background-color: transparent;
          border: 2px solid black;
          margin: 0;
          padding: 15px 20px;
          border-radius: 12px;
          cursor: pointer;
          transition: all .2s ease;
          p {
            margin: 0;
          }
        }
        .question-option-long {
          background-color: transparent;
          border: 2px solid black;
          margin: 0;
          padding: 15px 20px;
          border-radius: 12px;
          display: grid;
          grid-template-columns: min-content 1fr;
          cursor: pointer;
          transition: all .2s ease;
          p {
            margin: 0;
          }
        }
        .question-option:hover {
          color: white;
          background-color:  #115dab;
          border: 2px solid  #115dab;
        }
        .question-option-long:hover {
          color: white;
          background-color:  #115dab;
          border: 2px solid  #115dab;
        }
      }
    }
  }
}

.white-gradient {
  justify-self: center;
  bottom: 0;
  margin-bottom: 135px;
  z-index: 2;
  position: fixed;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5242471988795518) 58%, rgba(255,255,255,1) 98%);
  height: 100px;
  width: 70%;
  pointer-events: none;
}

footer{
  position:fixed;
  bottom:0;
  right:0;
  left:0;
}

.text-blue {
  color: #115dab;
}