main {
    .filter-btn{
        border:0px;
        border-radius:5px;
        background:#d2dbe7;
        padding:5px 10px;
    }

    .filter-btn:hover{
        background-color:#cb2c3b
    }

    .filter-btn a{
        text-decoration:none;
        color:#000!important;
    }

    .filter-btn:hover a{
        color:#fff!important;
    }

    .form-check-label{
        margin-left:5px;
    }

    .form-check-input{
        margin-left:10px;
    }

    .table-sect {
        table {
            width: 100%;
            /* border: 1px solid blue; */
            border-collapse: collapse;
            font-size: 1.3em;
            .table-row-gap {
                height: 14px;
            }
            thead {
                background-color: transparent;
                tr {
                    th {
                        background-color: transparent;
                        /* text-transform: uppercase; */
                        padding: 0px 50px 20px 50px;
                        position: sticky;
                        top: 0;
                    }
                    .select-all {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 20px;
                        input[type='checkbox'] {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
            tbody {
                overflow-y: scroll;
                /* border: 1px magenta solid; */
                tr {
                    background-color: #ebf0f7;
                    color: #70747b;
                    border-radius: 10px;
                    transition: .2s ease all;
                    td {
                        padding: 10px 50px;
                        input[type='checkbox'] {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
                /* .row-policy {
                    outline: #ebf0f7 3px solid;
                }
                .row-policy:hover {
                    background-color: #70747b;
                    color: white;
                    outline: solid 3px #cb2c3b;
                    border-radius: 10px;
                }
                .row-practice {
                    outline: #ebf0f7 3px solid;
                }
                .row-practice:hover {
                    background-color: #70747b;
                    color: white;
                    outline: solid 3px #115dab;
                    border-radius: 10px;
                } */
            }
            td:first-child { border-top-left-radius: 10px; border-bottom-left-radius: 10px; }
            td:last-child { border-top-right-radius: 10px; border-bottom-right-radius: 10px; }
        }
    }
    * {
        --sb-track-color: #ebf0f7;
        --sb-thumb-color: #d2dbe7;
        --sb-size: 18px;
    }
    *::-webkit-scrollbar {
        width: var(--sb-size);
    }
    *::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: 9px;
    }
    *::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
        border-radius: 9px;
    }
    @supports not selector(::-webkit-scrollbar) {
        body {
            scrollbar-color: var(--sb-thumb-color)
                        var(--sb-track-color);
        }
    }
}