header {
    section {
        width: 1300px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3, min-content);
        column-gap: 30px;
        padding: 75px 0;
        h1 {
            grid-column: 1;
            grid-row: 1;
            font-size: 5em;
            margin: 0;
            padding: 18px 0;
        }
        p {
            grid-column: 1;
            grid-row: 2;
            margin: 0;
            font-size: 1.75em;
            line-height: 1.5em;
            padding: 18px 0;
        }
        button {
            grid-column: 1;
            grid-row: 3;
            font-size: 2em;
            width: 300px;
            background-color: #cb2c3b;
            border: none;
            margin: 18px 0;
            padding: 8px 20px;
            border-radius: 12px;
            transition: .2s ease;
            cursor: pointer;
        }
        button:hover {
            background-color: white;
            color: #cb2c3b;
        }
        div {
            grid-column: 2;
            grid-row: 1 / -1;
            height: 600px;
            width: 600px;
            background-image: url(../images/hero_img.jpg);
            background-size: contain;
            border-radius: 30px;
        }
    }
}

main {
    display: grid;
    justify-items: center;
    margin-bottom: 150px;
    section {
        margin-top: 100px;
        width: 1300px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content 1fr;
        column-gap: 90px;
        .two-options {
            background-color: #d2dbe7;
            display: grid;
            justify-items: center;
            border-radius: 25px;
            h2 {
                font-size: 3em;
                margin: 20px 0;
            }
            p {
                text-align: center;
                margin: 0;
                line-height: 1.6em;
                padding: 0 20px;
                font-size: 1.1em;
            }
            button {
                background-color: #cb2c3b;
                border: none;
                color: white;
                font-size: 1.6em;
                padding: 7px 20px;
                border-radius: 8px;
                margin: 30px 0;
                cursor: pointer;
                transition: all .2s ease;
            }
            button:hover {
                background-color: white;
                color: #cb2c3b;
            }
        }
        .about-card {
            grid-column: 1/-1;
            grid-row: 2;
            align-self: center;
            justify-self: center;
            display: grid;
            justify-items: center;
            h1 {
                font-size: 4em;
                margin: 75px 0 20px 0;
            }
            p {
                text-align: center;
                font-size: 2em;
                padding: 0 150px;
                line-height: 1.5em;
                margin: 0;
            }
            button {
                background-color: #cb2c3b;
                border: none;
                color: white;
                font-size: 2em;
                padding: 14px 80px;
                border-radius: 15px;
                margin: 30px 0;
                cursor: pointer;
                transition: all .2s ease;
            }
            button:hover {
                background-color: #d2dbe7;
            }
            
        }
    }
    form {
        padding-top: 30px;
        display: grid;
        align-items: center;
        justify-items: center;
        h2 {
            font-size: 4em;
            margin: 0;
            padding: 20px 0;
        }
        .msg-hide {
            display: none;
        }
        input {
            width: 400px;
            height: 50px;
            margin-bottom: 20px;
            border: none;
            background-color: white;
            border: 2px black solid;
            border-radius: 10px;
            padding: 3px 15px;
            font-size: 1.3em;
        }
        button {
            font-size: 2em;
            width: 300px;
            background-color: #cb2c3b;
            border: none;
            padding: 8px 20px;
            border-radius: 12px;
            transition: .2s ease;
            cursor: pointer;
        }
        button:hover {
            background-color: white;
            color: #cb2c3b;
        }
    }
}