header {
    section {
        width: 1300px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: min-content 1fr;
        column-gap: 50px;
        padding-top: 20px;
        padding-bottom: 70px;
        h1 {
            justify-self: center;
            grid-column: 1/-1;
            grid-row: 1;
            font-size: 5em;
            margin: 0;
            padding: 18px 0;
        }
        p {
            grid-column: 2;
            grid-row: 2;
            margin: 0;
            font-size: 1.75em;
            line-height: 1.5em;
            padding: 18px 0;
        }
        div {
            grid-column: 1;
            grid-row: 2;
            width: 600px;
        }
    }
}

main {
    width: 100%;
    display: grid;
    justify-items: center;
    padding: 50px 0 70px 0;
    section {
        width: 1300px;
        display: grid;
        justify-items: center;
        h1 {
            font-size: 4em;
            margin: 0;
        }
        p {
            padding-top: 20px;
            font-size: 1.6em;
            line-height: 1.5em;
            text-align: center;
            margin: 0;
            a {
                color: #cb2c3b;
            }
        }
    }
}