html {
    padding: 0;
    margin: 0 auto;
}

body {
    padding: 0;
    margin: 0 auto;
}

header h1{
    font-size:4em!important;
}

.rund-400 {
    font-family: "vag-rundschrift-d", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .frank-400 {
    font-family: "franklin-gothic-urw", sans-serif!important;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.05em;
  }
  
  .text-red {
    color: #cb2c3b;
  }

  .text-black{
    color:#000;
  }
  
  .text-white {
    color: #fff;
  }

  main section a{
    color:#cb2c3b!important;
  }

/*navigation*/
.navbar a{
    text-decoration:none!important;
    font-size:18px!important;
}

nav h3{
    margin-top:.5rem;
    font-size:2.5em!important;
}

nav h3:hover{
    color:#cb2c3b!important;
}

nav ul li a {
    color: #000!important;
    transition: all .1s ease;
}

header nav ul li a:hover {
    color: #cb2c3b!important;
}

header .register {
    font-size: 18px;
    background-color: transparent;
    border: 2px solid #cb2c3b;
    margin: 0;
    padding: 0px 20px;
    border-radius: 8px;
    transition: .2s ease;
    cursor: pointer;
}

header .register a{
    color:#cb2c3b!important;
    text-decoration:none;
}

header .register:hover {
    background-color: #cb2c3b;
}

header .register:hover a{
    color:#fff!important;
}

/*buttons*/
button.red-white, button.red-grey, button.red-black, button.black-red{
    background-color: #cb2c3b;
    border: none;
    color: white;
    font-size: 1.5em;
    padding: 7px 20px;
    border-radius: 8px;
    margin: 10px 0;
    cursor: pointer;
    transition: all .2s ease;
}

button.black-red{
    color:#fff;
    background-color:#000;
}

button.black-red:hover{
    background-color:#cb2c3b
}

button.red-white:hover{
    background-color:#fff;
    color:#cb2c3b!important;
}

button.red-black:hover{
    background-color:#000;
    color:#fff!important;
}

button.red-grey:hover{
    background-color:#d2dbe7;
    color:#000!important;
}

.grey-background{
    background:#d2dbe7;
}

/*accordion*/
.accordion {
    z-index: -1;
    width: 100%;
    color: black;
    background-color: white;
}

.accordion a {
    color: #cb2c3b;
}

.accordion hr {
    border: 1px solid #d2dbe7;
}

.accordion .question-cont {
    position: relative;
    margin: 10px 10px;
}

.accordion .question-cont .toggle-icon {
    transition: transform 0.4s ease;
}

.accordion .question-cont.active .toggle-icon {
    transform: rotate(180deg);
}

.accordion .question-title {
    position: relative;
    display: grid;
    grid-template-columns: 1fr min-content;
    padding: 10px 0;
    font-size: 1.4em;
    color: black;
    cursor: pointer;
}

.accordion .question-title p {
    grid-column: 1;
    margin: 0;
}

.accordion .question-title .arrow-toggle {
    grid-column: 2;
    justify-self: flex-end;
    align-self: center;
    padding: 0;
}

.accordion .question-title::before {
    color: black;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 1em;
    transform: translateY(-50%);
}
            
.accordion .question-content {
    position: relative;
    max-height: 0;
    font-size: 1.5em;
    text-align: justify;
    width: 100%;
    overflow: hidden;
    display: grid;
    justify-items: start;
    gap: 20px;
    transition: max-height 0.5s ease;
}

.accordion .question-content ul {
    margin: 0;
}
.accordion .question-content .question-desc {
    font-size: 0.7em;
    margin: 0;
}
.accordion .question-content .question-num {
                    padding-right: 15px;
                }
.accordion .question-content .question-option {
                    background-color: transparent;
                    border: 2px solid black;
                    margin: 0;
                    padding: 15px 20px;
                    border-radius: 12px;
                    width: 100%;
                    cursor: pointer;
                    transition: all .2s ease;
}
.accordion .question-content .question-otion p {
                    margin: 0;
                    }
                
.accordion .question-content .question-option-long {
                    background-color: transparent;
                    border: 2px solid black;
                    margin: 0;
                    padding: 15px 20px;
                    border-radius: 12px;
                    width: 100%;
                    display: grid;
                    grid-template-columns: min-content 1fr;
                    cursor: pointer;
                    transition: all .2s ease;
}
.accordion .question-content .question-option-long p {
                    margin: 0;
                    }
                
                    .accordion .question-content .question-option:hover {
                    color: #fff;
                    background-color: #cb2c3b;
                    border: 2px solid #cb2c3b;
                }
                .accordion .question-content .question-option-long:hover {
                    color: #fff;
                    background-color: #cb2c3b;
                    border: 2px solid #cb2c3b;
                }

/*form*/
form {
    padding-top: 30px;
    display: grid;
    align-items: center;
    justify-items: center;
}
form h2 {
        font-size: 4em;
        margin: 0;
        padding: 20px 0;
    }
form .msg-hide {
        display: none;
    }
form input {
        width: 400px;
        height: 50px;
        margin-bottom: 20px;
        border: none;
        background-color: white;
        border: 2px black solid;
        border-radius: 10px;
        padding: 3px 15px;
        font-size: 1.3em;
    }
form button {
        font-size: 2em;
        width: 300px;
        background-color: #cb2c3b;
        border: none;
        padding: 8px 20px;
        border-radius: 12px;
        transition: .2s ease;
        cursor: pointer;
    }
form button:hover {
        background-color: white;
        color: #cb2c3b;
    }

.form-control {
    border:solid 2px #000!important;
}

.form-control:focus{
    box-shadow:0 0 0 0.25rem rgba(203, 44, 59,0.25)!important;
}

.form-check-input:focus{
    border-color:#000;
    box-shadow:0 0 0 0.25rem rgba(0, 0, 0,0.25)!important;
}

.form-group textarea{
    border:2px solid #000;
    border-radius:12px;
}

/*modal*/
.modal{
    --bs-modal-width: 700px!important;
}
.modal-content{
    border:0px!important;
    border-radius:10px;
}    
.modal-header, .modal-footer{
    border:0px!important;
}

.modal-header{
    padding-bottom: 0px;
}

.btn-close{
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(203, 44, 59,0.25);
}

/*assessment*/
.header-divider{
    background-color: #d2dbe7;
      width: 5px;
      height: 40px;
      border-radius: 10px;
      margin:0px 10px;
  }

/*footer*/
footer {
    background-color: #d2dbe7;
}